@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Desenvolvedor: @ViewData["Desenvolvedor"].</p>

<address>
    <strong>GitHub: </strong> <a href="github.com/Gabriel-J-code">Gabriel-J-code</a>.
</address>
